@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@400;500&family=Sarabun&display=swap');

:root{
    font-size:20px;
    font-family:'Roboto',sans-serif;

}

html,body{
    --bg-color: #e2e8f0;
    margin: 0px;
    height: 100vh;


}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 1fr;
    height: 100%;
    overflow: hidden;
    row-gap: 20px;
    /* column-gap: 15px; */
    background-color: var(--bg-color);
}

.sidebar{
    grid-row: 1/-1;
    z-index: 10;
}

.header{
    background-color: white;
    grid-column: 2/3;
}

.content{
    grid-row: 2/3;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 300px 30px 300px ;
    grid-template-areas: "header-text-projects header-text-announcements" 
                         "project-area announcements-area"
                         "project-area header-text-trending"
                         "project-area trending-area";

    overflow: auto;
    row-gap: 12px;
    background-color: var(--bg-color);


}


.header-text.projects {
    grid-area: header-text-projects;

}

.header-text.announcements{
    grid-area: header-text-announcements;
}

.header-text.trending{
    grid-area:header-text-trending;
}

.projects{
    grid-area:project-area;
}

.trending{
    grid-area:trending-area;
}

.announcements{
    grid-area:announcements-area;
}

.announcements,
.trending{
    width: 280px;
    justify-self: left;
    margin-right: 30px;
}

.sidebar{
    color:white;
    background-color: rgb(0, 170, 255);
}


.header{
    display:grid;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: "search-area search-area"
                         "display-name-area update-buttons-area";
}

.search{
    /* grid-area:search-area; */
}


.display-name{
    grid-area:display-name-area;
}

.user-icons{
    /* grid-area:user-icons-area; */
}

.update-buttons{
    grid-area:update-buttons-area;
    display:flex;

    justify-content: space-around;
    align-items: center;
}

.update-buttons > button{
    background-color: rgb(0, 170, 255);
    border-style: none;
    border-radius: 20px;
    color: white;
    padding: 10px ;
    font-size: 0.8rem;
    font-family: 'Roboto';
    font-weight: 600;
    box-sizing:border-box;
    width: 100px;
}


.projects{
    margin-left:20px;
}

.projects:not(.header-text){
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,320px);
    align-content:start;
    /* grid-template-columns: 350px 350px; */
    /* grid-row: 200px; */
    /* justify-self: right; */
    /* align-items: center; */
    /* place-content: center; */
    /* justify-content: center; */
}

.header-text{
    font-weight: 500;
}

.project,
.announcements:not(.header-text),
.trending:not(.header-text){
    box-shadow: black 0px 0px 7px -5px;
    border-radius: 8px;
}


.project {
    background:white;
    height: 200px;
    border-left: rgb(246, 186, 56) solid 8px;
}

.announcements:not(.header-text){
    background-color: white;
    height: 300px;

}

.trending:not(.header-text){
    background-color: white;
    height: 300px;
}

.sidebar {
    font-weight: 400;
    display: grid;
    align-content: start;
    row-gap: 40px;



}

.main-text,
.nav,
.user-settings{
    height: fit-content;
}


.nav > ul,
.user-settings > ul{
    padding: 0px;
    margin: 0px;
}


.main-text{
    font-size: 1.4rem;
    font-weight: 500;
}

.nav li,
.user-settings li{
    list-style-type: none;
    padding:0px;
    font-size: 1rem;
    font-weight: 500;
}



.nav li:first-child ~ li,
.user-settings li:first-child ~ li{
    /* color:blue; */
    margin-top: 12px;
}

.header{
    box-shadow: black 0px -12px 18px 0px;
}

.search-row{
    display: flex;
    /* grid-row: 1/-1; */
    /* grid-column: 1/-1; */
    grid-area:search-area;
    width: 100%;
    /* gap: 20px; */
    justify-content: space-;

}

.search{
    margin-right: auto;
    flex: 2 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icons{
    flex: 1 0 auto;
    display: grid;
    align-items: center;
}




input[type="search"]{
    /* width: 80%; */
    width: 65%;
    border-radius: 8px;
    border-style: none;
    background-color: var(--bg-color);
    height: 25px;
}


input[type="search"]:focus{

    outline: none;
    padding: 10px;
    font-style: 'Roboto',sans-serif;
    font-size: 0.8rem;
}

.trending:not(.header-text)::after{
    /* content: "<h3>holis<h3/>"; */
    /* content: url('./star-plus-outline.svg')  url('./star-plus-outline.svg') url('./star-plus-outline.svg'); */

    /* transform: scale(0.2); */

    


    /* height: 20px; */
    /* width: auto; */

}


.project > .header-text{
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
    font-size:16px;

}

.project > p {

    margin: 8px 10px;
    font-size: 0.8rem;
    overflow: wrap;
    width: 90%;
    color: #9ca3af;

}

.project-buttons{
    display: flex;
    justify-content: right;
    margin-right:20px;
    margin-top:25px;
    column-gap: 10px;
}

img{
    vertical-align: baseline;
}

.main-text,
.nav,
.user-settings{
    margin-left:30px;

}

.main-text{
    margin-top: 20px;
}

.main-text,
.nav li,
.user-settings li{
    display: flex;
    gap: 14px;
    align-items: center;
}

img:hover{
    transform: scale(1.22);
}